{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <form method="post">
        <h1>Регистрация</h1>
        <div>
            <input type="text" name="username" placeholder="username">
            <label for="username">Логин</label>
        </div>
        
        <div>
            <input type="text" name="password" placeholder="password">
            <label for="password">Пароль</label>
        </div>
        <button type="submit">Зарегистрироваться</button>
        <br>
        <br>
        {% if errors %}
            <span>
                {% for error in errors %}
                    {{ error }}<br>
                {% endfor %}
            </span><br>
        {% endif %}
    </form> 

    <a href="/lab6/head">На главную</a>
{% endblock %}