{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    <h1>Заказ Зерна</h1>
    <form method="post">
        <div>Выберете зерно:</div>
        <select class="text_input_form" name="corn" id="corn">
            <option value="barley">Ячмень</option>
            <option value="oats">Овёс</option>
            <option value="wheat">Пшеница</option>
            <option value="rye">Рожь</option>
        </select>
        <div><br>Введите вес,т:</div>
        <input class="text_input_form" type="number" id="weight" name="weight" value={{weight}}>
        <div>
            <br>
            <button class="text_input_form" type="submit">Оформить заказ</button>
        </div>
        <br>
        <div><span class="error">{{error}}</span></div><br>
    </form>
    
{% endblock %}