<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="main.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Базы данных</title>
   
   
</head>
<body>
    <div>
        <a href="/lab6/article_list">Посмотреть записи</a>
        <a href="/lab6/article_publish_list">Опубликованные записи</a>
        <a href="/lab6/new_article" >Создать заметку</a>
        <a href="/lab6/login">Логин</a>
        <a href="/lab6/register" >Регистрация</a>
        <span>
            {{ username }}
        </span>
        <a style="background-color: red;" href="/lab6/logout" >Выход</a>
      </div>
</body>