{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}

<form method="post" action="/lab5/new_article">
  <input name="title_article" placeholder="Название статьи" type="text">
  <h1>Текст</h1>
  <textarea name="text_article" placeholder="Текст" rows="10" cols="37"></textarea>
  <button type="submit" style="margin: 5px; text-align: center;">Сохранить</button>
</form>
<div>
  <h1>{{article_title}} </h1>
  {% for paragraph in article_text%}
  <p>
    {{paragraph}}
  </p>
  {%endfor%}
</div>

<title>{{ article_title }}</title>
</head>
<body>
    <h1>{{ article_title }}</h1>
    <p>{{ article_text }}</p>
    <p>Автор: {{ username }}</p>
{% endblock %}