<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кривошеев М.С., Гавра В.А.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <heder>
        WEB-программирование, часть 2.
    </heder>

<div>
    <img src="{{url_for('static', filename='2ff421as-960.jpg')}}"  width=300px, height=300px>

    <h1 style="font-size: large;">Дедушка и бабушка смеються</h1>
    <h2 style="font-size: large;">Дедушка и бабушка улыбаются друг другу,
         показывая радость и любовь в отношениях.</h2>
</div>
<div>
    <img src="{{url_for('static', filename='133167_42528a4cc7548351ed224ccf2c3054da.jpg')}}" width=300px, height=300px>

    <h1 style="font-size: large;">Дедушка из назад в будущее</h1>
    <h2 style="font-size: large;">На картинке изображен дедушка из фильма
         “Назад в будущее”, который является одним
          из самых известных персонажей в истории 
          кино. Он одет в свой классический костюм
           и шляпу, а его лицо выражает радость и 
           удовлетворение. Дедушка из Назад в будущее
            - это символ мудрости, доброты и любви к 
            жизни. </h2>
</div>
<div>
    <img src="{{url_for('static', filename='1639588074_55-koshka-top-p-koti-rzhach-59.jpg')}}" width=300px, height=300px>

    <h1 style="font-size: large;">Искренее удивление</h1>
    <h2 style="font-size: large;">Его глаза широко раскрыты, 
        брови подняты, а рот слегка приоткрыт. Вероятно, он 
        только что увидел что-то неожиданное или удивительное.</h2>
    
</div>
<div>
    <img src="{{url_for('static', filename='maxresdefault.jpg')}}" width=300px, height=300px>

    <h1 style="font-size: large;">Анапа 2017</h1>
    <h2 style="font-size: large;">На картинке изображена панорама города 
        Анапа в 2017 году. Город выглядит ярким и красочным,
         с множеством зданий и сооружений. В центре фотографии
          можно увидеть море, которое добавляет картинке
           свежести и динамики.</h2>
</div>
<div>
     
    <img src="{{url_for('static', filename='file47140.jpg')}}" width=300px, height=300px>

    <h1 style="font-size: large;">Верх эволюции</h1>
    <h2 style="font-size: large;">На картинке изображены два котенка, 
        играющие друг с другом. Они выглядят очень милыми и
         забавными, заставляя зрителя улыбнуться.</h2>
</div>

    <footer>
        &copy Кривошеев М.С., Гавра В.А. лабораторная 1 ФБИ-11, 3 курс, 2023
    </footer>
</body>
</html>